apiVersion: v1
kind: Service
metadata:
  name: {{ spec.service.name }}
  namespace: {{ spec.deploy.namespace }}
spec:
  type: ClusterIP
  selector:
    app: {{ spec.service.name }}
  ports:
{% if spec.service.enable_http %}
    - name: http
      port: 80
      targetPort: 8080
{% elif spec.service.enable_trpc %}
    - name: trpc
      port: 9000
      targetPort: 9000
{% endif %}
