apiVersion: v1
kind: Service
metadata:
  name: {{ spec.service.name }}-lb
  namespace: {{ spec.deploy.namespace }}
spec:
  type: LoadBalancer
  selector:
    app: {{ spec.service.name }}
  ports:
    - name: http
      port: 80
      targetPort: 8080
